html {
  font-size: 10px;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

#todo-list {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  border: 0.1rem solid #ccc;
  align-items: center;
  padding: 2rem;
}

main {
  width: 100%;
  margin: 1.5rem 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

li > label {
  display: inline-block;
  width: 100%;
}

li.completed > label > span {
  text-decoration: line-through;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer > input {
  width: 100%;
}
