@font-face {
  font-family: "Brentscript";
  src: url("Brentscript-Regular.woff2") format("woff2"),
    url("Brentscript-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --accent1-color: #0062b8;
  --accent2-color: #1fc7ff;

  --paragraph-font: Inter, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  align-items: center;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  font-family: var(--paragraph-font);
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

a {
  color: var(--accent1-color);
}

h1 {
  font-family: "Brentscript";
  margin-bottom: 0.25em;
  font-size: 3em;
}

header,
footer {
  box-sizing: border-box;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  width: 100%;
  max-width: 600px;
}

header {
  border-bottom: 0.125em solid var(--accent1-color);
  background-image: url("../images/me.png");
  background-position: right 1em;
  background-repeat: no-repeat;
  background-size: 12em;
  padding-top: 7em;
}

footer {
  border-top: 0.125em solid var(--accent1-color);
  text-align: center;
  line-height: 1.5;
}

main {
  padding: 2.5em 0;
}

main ul li {
  line-height: 1.5;
}

@media screen and (max-width: 550px) {
  body {
    display: block;
  }

  header {
    background-position: center 1em;
    border-bottom: none;
    padding-top: 12.4em;
  }

  h1 {
    padding-top: 0.25em;
    border-top: 0.0417em solid var(--accent1-color);
    text-align: center;
  }

  main {
    padding: 0 1.5em 2.5em 1.5em;
  }

  footer {
    padding: 1em;
  }
}

