@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
  font-size: 10px;
  min-height: 100vh;
}

* {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

header {
  width: 100%;
}

#todo-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 2rem;
  margin: 2rem auto;
}

main {
  width: 100%;
  margin: 1.5rem 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

li > label {
  display: inline-block;
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 1;
}

li.completed > label > span {
  text-decoration: line-through;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer > input {
  width: 100%;
}

button, input {
  padding: 0.7rem 1rem;
  border: 0.1rem solid #ccc;
  font-size: 1.8rem;
}

input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

button.remove {
  background: transparent;
  border: none;
}

input.new-task {
  margin-right: 1rem;
}

ul.todo-list > li {
  margin-bottom: 1rem;
}

ul.todo-list > li.footer {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

ul.todo-list > li.footer span {
  margin-right: 1rem;
}

ul.todo-list > li.footer button {
  background: transparent;
  padding: 0.4rem 0.8rem;
  border-radius: 2rem;
  border: none;
  font-size: 1.4rem;
}

ul.todo-list > li.footer button.active {
  background: #0062B8;
  color: #fff;
}

ul.todo-list > li.footer button:not(:last-child) {
  margin-right: 0.5rem;
}

/* medium */
@media (min-width: 768px) {
  html {
    background: rgb(0,46,93);
    background: linear-gradient(0deg, rgba(0,46,93,1) 0%, rgba(0,98,184,1) 100%);
  }

  #todo-list {
    max-width: 50rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    background: #ffffff;
    box-shadow: 0 1.9rem 3.8rem rgba(0,0,0,0.30), 0 1.5rem 1.2rem rgba(0,0,0,0.22);
  }
}

/* large */
@media (min-width: 1024px) {
  html {
    font-size: 15px;
  }
}
